body{
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}
h1{
    font-size: 25px;
}

.page-container {
    margin: 0 auto;
    width: 900px;
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0px;
  }
  
  .page-container > * {
    background-color: lightgoldenrodyellow;
    color: salmon;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .header {
    grid-column: 1 / span 5;
    background-color: darkslategray;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:25px;
  }
  .large-artwork{
    grid-column: 2 / span 2;
  }
  
  .header-content {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header nav {
    flex-basis: 20%;
  }
  
  .header ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  
  .header ul {
    list-style: none;
    margin:0;
    padding:20;
    display:flex;
  }
  .main {
    grid-column: 2 / span 2;
  }
  
  .footer {
    grid-column: 1 / -1;
    background-color: darkslategray;
    color:white;
    padding:0px;
  }
  
  .sidebar {
    grid-column: 4 / -1;
    grid-row: 2 / span 2;
  }

  nav ul{
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
  }
  nav ul li{
    position:relative;
  }
  nav ul li a{
    text-decoration:none;
    color:white;
    padding:10px 15px;
    display:block;
    font-size: 20px;
  }

  /* image styling */
  .first-image{
    width:100%;
    height:50%;
    object-fit:fill;
  }
  /* .second-image{
    width:100;
    height:100%;
    object-fit:fill;
  } */
   .stripes{
    width:100%;
   }
   .stripes-2{
    width:100%
   }
   .more-stripes{
    width:100%;
   }
   .stripes-3{
    width:100%;
    height:100%;
    object-fit:fill;
   }
.stripes-4{
    width:100%;
}
.stripes-2{
  width:100%;
}
.circles-1{
  width:100%;
}
.circles-2{
  width:100%;
}
.texture-1{
  width:100%;
}
.abstract-1{
  width:100%;
}
.diagonal{
  width:100%;
}